# Google OAuth
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID = "*************************"
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET="*************************"

# GitHub OAuth
SUPABASE_AUTH_GITHUB_CLIENT_ID="*************************"
SUPABASE_AUTH_GITHUB_SECRET="*************************"